<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conversation</title>
</head>
<body>
    <h1><%= conversation[0].name %></h1>
    <h3><%= sender.fb_name %>: <%= conversation[0].sendContent %></h3>
    <% conversation.forEach((conversation) => { %>
        <p><b><%= conversation.date %> <%= conversation.fb_name %>:</b> <%= conversation.content %></p>
    <% }) %>
</body>
</html>